form {
  // background-image: url('/panteli-nuxt/triangle.svg');
//   border: 1px solid #000;
  // background-color: rgba(209, 207, 207, 0.733);
  margin: 10px auto;

  input
   {
    border: 0px solid rgb(12, 142, 202);
    flex-basis: 100%;
    margin-left: 10px;
    border-bottom: 1px dashed #999;
    outline: none;
    &:focus {
      border-color: #4e4e4e;
    }
  }
  textarea {
    border: 1px dashed #999;
    outline: none;
    border-radius: 7px;
    &:focus {
      border-color: #666;
    }
  }
  input,
  textarea,
  label {
    padding: 7px;
    flex-basis: 100%;
  }
  ::placeholder {
    color: #888585;
  }
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    margin: 7px;

    label {
      flex-basis: 100px;
    }
  }

  .actions {
    justify-self: center;
  }
  a svg {
    font-size: 5rem;
    transition: 0.5s;
    &:hover {
      color: white;
      transition: 0.5s;
      cursor: pointer;
    }
  }
  .error {
      color: rgb(209, 101, 101);
      text-align: center;
      padding: 10px;
  }
}

@media (min-width: 700px) {
  form {
    width: 95%;
    li {
      justify-content: center;

      // input,
      // textarea {
      //   flex-basis: 400px;
      // }
    }
  }
}
