form {
  // background-image: url('/panteli-nuxt/triangle.svg');
//   border: 1px solid #000;
  // background-color: rgba(209, 207, 207, 0.733);
  margin: 10px auto;

  input,
  textarea {
    border: 1px solid rgb(12, 142, 202);
    flex-basis: 100%;
    margin-left: 10px;
  }
  input,
  textarea,
  label,
  button {
    padding: 7px;
  }
  display: flex;
  flex-direction: column;
  li {
    display: flex;

    // border: 1px solid rgb(170, 25, 25);
    margin: 7px;

    label {
      flex-basis: 100px;
      // background-color: #fff;
    }
  }

  .actions {
    justify-self: center;
  }
  a svg {
    // margin-top: 10px;
    font-size: 5rem;
    transition: 0.5s;
    &:hover {
      color: white;
      transition: 0.5s;
      cursor: pointer;
    }
  }
  .error {
      color: rgb(209, 101, 101);
      text-align: center;
      padding: 10px;
  }
}

@media (min-width: 700px) {
  form {
    width: 95%;
    li {
      justify-content: center;

      input,
      textarea {
        flex-basis: 400px;
      }
    }
  }
}
