@media (min-width: 750px) {
  .container_pant {

		.content {
      max-width: 850px;
			margin: 0 auto;
			
			main  {
        // width: 100%;
        aside {
          nav {
            display: flex;
            width: 240px;
						
            ul {
              width: 100%;
							padding: 0;
              li {
                width: 100%;
                a {
                  width: 100%;
                }
              }
            }
          }
          img {
            border-radius: 10%;
            padding: 0 10px;
          }
        }
			}
		}
	}
	footer ul {
		max-width: 850px;
		margin: 0 auto;
	}
}
