@import '../../../normalize.css';
@import '../../../mixins/common';

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
:root {
  --myColor: red;
}
*, p {
  margin: 0;
  padding: 0;
  h1 {
    margin: 0;
    font-size: 1.5rem;
  }
}

html {
  overflow: auto;
  font-family: 'Quicksand', sans-serif;

}
/* container has been used by _grid.styl, quicker this way than an attempt to hack it */
.container_pant { 
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 0 auto;
  /* background-color: rgb(240, 233, 233); */
}
header {
  background-color: rgb(4, 14, 59);
}
header a {
  color: grey;
}
section {
  background-color: rgb(117, 117, 117);
  height: 5px;
  /* border: 1px solid rgb(241, 239, 239); */
}

